In [1]:
from tensorflow import keras
from keras.models import load_model
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords 

from numpy import array 
from keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers.core import Activation, Dropout, Dense
from keras.layers import Flatten
from keras.layers import GlobalMaxPooling1D
from keras.layers.embeddings import Embedding
from sklearn.model_selection import train_test_split
from keras.preprocessing.text import Tokenizer

Using TensorFlow backend.

In [2]:
model = load_model('path_to_my_model.h5')

C:\Users\rawll\.conda\envs\tensorflow\lib\site-packages\tensorflow_core\python\framework\indexed_slices.py:424: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

In [3]:
df = pd.read_csv('reviews.csv')
df.isnull().values.any() # checks if data file have any null values
df.head()

                                             reviews  sentiment
0  Well, you'd better if you plan on sitting thro...          0
1  Moonwalker is a Fantasy Music film staring Mic...          1
2  I bought this video on a throw-out table at th...          0
3  Since the last horrid Astérix film and the fac...          1
4  I grew up with the Abbott and Costello movies,...          1

In [4]:
def preprocess(text):
  text = re.sub('<[^>]*>', '', text)
  emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)', text.lower())
  text = re.sub('[\W]+', ' ', text.lower()) +\
      ' '.join(emoticons).replace('-', '')
  return text

In [5]:
X = []
sentences = list(df['reviews'])
for sen in sentences:
    X.append(preprocess(sen))
y = df['sentiment']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [11]:
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(X_train)

In [17]:
n=1
instance = X[n]
instance = tokenizer.texts_to_sequences(instance)
maxlen = 100
flat_list = []
for sublist in instance:
    for item in sublist:
        flat_list.append(item)

flat_list = [flat_list]

instance = pad_sequences(flat_list, padding='post', maxlen=maxlen)

model.predict(instance)

array([[0.03014574]], dtype=float32)

In [18]:
print(instance)

[[1278 1394    3 2006  909   21 2140  909 1902  706  139    3 1881 2140
     3   12 2140 1131   12  485    3 1881  227 1902 2140  706 1210 1394
   909    3 1969   12  706 1131   21    3 1881  227 1902    3 1881   21
    12 1000 1131   12   21  706  227 4205  706 1210   21 2140  909   12
  1881  706   21   21 4205   21  909  909 1881    3 1278  909 1969    9
   227   12   12 2140  909  909   12 2140 1881  706 1000 1354    9 1000
  2140  909    9   12 1354  909 1210   21 1131 1881   21 1131 1394 1881
   909  227]]

In [19]:
model.predict_classes(instance)

array([[0]])

In [15]:
print(y[n])

1

In [16]:
df.head()

                                             reviews  sentiment
0  Well, you'd better if you plan on sitting thro...          0
1  Moonwalker is a Fantasy Music film staring Mic...          1
2  I bought this video on a throw-out table at th...          0
3  Since the last horrid Astérix film and the fac...          1
4  I grew up with the Abbott and Costello movies,...          1

In [ ]:
len(instance[0])