In [1]:
import pandas as pd
import os
import pyprind
import tensorflow as tf

In [11]:
basepath = "D:\Projects\Minor_Project\data\Imdb"

In [12]:
labels = {'pos':1, 'neg':0}
pbar = pyprind.ProgBar(50000)
df = pd.DataFrame()

In [13]:
for s in ('test', 'train'):
    for l in ('pos', 'neg'):
        path = os.path.join(basepath,s,l)
        print(s,l)
        print(path)
        for file in os.listdir(path):
            with open(os.path.join(path, file),'r',encoding='utf-8') as infile:
                txt = infile.read()
            df = df.append([[txt,labels[l]]], ignore_index=True)
            pbar.update()
df.columns = ['reviews', 'sentiment']

test pos
D:\Projects\Minor_Project\data\Imdb\test\pos

0% [#######                       ] 100% | ETA: 00:00:45

test neg
D:\Projects\Minor_Project\data\Imdb\test\neg

0% [###############               ] 100% | ETA: 00:00:31

train pos
D:\Projects\Minor_Project\data\Imdb\train\pos

0% [######################        ] 100% | ETA: 00:00:17

train neg
D:\Projects\Minor_Project\data\Imdb\train\neg

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:01:10

In [14]:
df.head()

                                             reviews  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1

# Randomizing data frame and create CSV file

In [15]:
import numpy as np

In [36]:
np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))

In [37]:
df.to_csv('reviews.csv',index = False, encoding = 'utf-8')

In [38]:
df = pd.read_csv('reviews.csv',encoding='utf-8')

In [39]:
df.head()
np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))

In [40]:
df.head()

                                                 reviews  sentiment
11841  Every time I see Nicole I like her more. I lov...          1
19602  This movie clearly has an agenda, which could ...          0
45519  I had somewhat high hopes for this since I lik...          0
25747  This review contains spoilers.<br /><br />I wa...          0
42642  I won't give anything away by describing the p...          1