In [1]:
import pandas as pd
import os
import pyprind
import tensorflow as tf

In [2]:
basepath = "D:/Projects/Minor_Project/data/reviews"

In [3]:
labels = {'pos':1, 'neg':0}
pbar = pyprind.ProgBar(50000)
df = pd.DataFrame()

In [6]:
for s in ('test', 'train'):
    for l in ('pos', 'neg'):
        path = os.path.join(basepath,s,l)
        print(s,l)
        print(path)
        for file in os.listdir(path):
            with open(os.path.join(path, file),'r',encoding='utf-8') as infile:
                txt = infile.read()
            df = df.append([[txt,labels[l]]], ignore_index=True)
            pbar.update()
df.columns = ['reviews', 'sentiment']

test pos
D:/Projects/Minor_Project/data/reviews\test\pos

0% [#######                       ] 100% | ETA: 00:02:49

test neg
D:/Projects/Minor_Project/data/reviews\test\neg

0% [###############               ] 100% | ETA: 00:01:50

train pos
D:/Projects/Minor_Project/data/reviews\train\pos

0% [######################        ] 100% | ETA: 00:00:59

train neg
D:/Projects/Minor_Project/data/reviews\train\neg

0% [##############################] 100% | ETA: 00:00:00
Total time elapsed: 00:03:54

In [7]:
df.head()

                                             reviews  sentiment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1
3  I saw this film in a sneak preview, and it is ...          1
4  Bill Paxton has taken the true story of the 19...          1

# Randomizing data frame and create CSV file

In [5]:
import numpy as np

In [9]:
np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))

In [16]:
df.to_csv('reviews.csv',index = False, encoding = 'utf-8')

In [4]:
df = pd.read_csv('reviews.csv',encoding='utf-8')

In [14]:
df.head()
np.random.seed(0)
df = df.reindex(np.random.permutation(df.index))

In [15]:
df.head()

                                                 reviews  sentiment
17127  'Tycus' is almost as bad as a science fiction ...          0
28579  The Beguiled is a pretty satisfying film for t...          1
36957  The 3-D featured in "The Man Who Wasn't There"...          0
201    I haven't seen a lot of episodes of "Family Gu...          0
27145  Although the beginning suggests All Quiet on t...          0